$hover: #34bfa3;
$primary: #34bfa3;
$black: #000;
$font: #303133;
$font1: #606266;
$font2: #909399;
$font3: #C0C4CC;
$boder: #DCDFE6;
$boder1: #E4E7ED;
$boder2: #EBEEF5;
$boder3: #F2F6FC;
$state1: #67C23A;
$state2: #E6A23C;
$state3: #F56C6C;
$state4: #909399;